@font-face {
    font-family: 'CodeMatricielNFI';
    src: url('../assets/fonts/Code matriciel NFI/matrix code nfi.otf') format('truetype'),
         url('../assets/fonts/Code matriciel NFI/matrix\ code\ nfi.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  .matrix-animation {
    font-family: 'CodeMatricielNFI', monospace;
    font-size: 1.5rem; /* ajuste selon ton rendu */
    color: #00ff00;    /* typique Matrix */
  }

  .matrix-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000; /* devant tout le reste */
  background: black;
}

/* Si tu veux un style de texte Matrix encore plus fidèle */
.matrix-canvas::selection {
  background: none;
}

.matrix-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000; /* devant tout le reste */
    background: black;
  }
  
  /* Si tu veux un style de texte Matrix encore plus fidèle */
  .matrix-canvas::selection {
    background: none;
  }
  
.page-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .matrix-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
  }
  
  .page-content {
    position: relative;
    z-index: 10;
  }
  